* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEFEFE;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #F0F9FF;
    border-bottom: 1px solid #ccc;
}

#loginBox, #loggedInBox {
    display: flex;
    gap: 5px;
}

#posts {
    max-width: 800px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background-color: #F0F9FF;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #556A86;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.post h2 {
    font-size: 1,5rem;
    margin-top: 4px;
    margin-bottom: 8px;
}

.post p {
    font-size: 1rem;
    margin-bottom: 3px;
}