* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEFEFE;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #F1F5F9;
    border-bottom: 1px solid #ccc;
}

header h1 {
    font-family: "DM Serif Text", serif;
    font-size: 45px;
    margin: 30px 40px;
}

#loginBox, #loggedInBox {
    display: flex;
    gap: 10px;
}

#loginBox input {
    padding: 6px 10px;
    border: 1px solid #656667;
    font-size: 0.9rem;
    border-radius: 5px;
}

#loginBox input:focus {
    outline: none;
    border-color: #304C70;
    box-shadow: 0 0 4px #304C70;
}

#loginBtn, #logoutBtn {
    cursor: pointer;
    padding: 7px 14px;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    background: #304C70;
    color: white;
}

#loginBtn:hover, #logoutBtn:hover {
    background: #293F5B;
}

#logoutBtn {
    margin-right: 10px;
}

.user-badge {
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

#posts {
    max-width: 800px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.post {
    background-color: #F1F5F9;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #556A86;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.post h2 {
    font-size: 1,5rem;
    margin-top: 4px;
    margin-bottom: 8px;
}

.post p {
    font-size: 1rem;
    margin-bottom: 3px;
}