* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F7F7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #113A74;
}

header h1 {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    margin: 30px 50px;
    color: white;
}

#loginBox, #loggedInBox {
    display: flex;
    gap: 10px;
}

#loginBox input {
    padding: 6px 10px;
    border: 1px solid #656667;
    font-size: 0.9rem;
    border-radius: 5px;
}

#loginBox input:focus {
    outline: none;
    border-color: #304C70;
    box-shadow: 0 0 4px #304C70;
}

#loginBtn, #logoutBtn {
    cursor: pointer;
    padding: 7px 14px;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    background: #304C70;
    color: white;
}

#loginBtn:hover, #logoutBtn:hover {
    background: #293F5B;
}

#logoutBtn {
    margin-right: 10px;
}

.user-badge {
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

#posts {
    max-width: 800px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.post {
    background-color: #F1F5F9;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #556A86;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.post h2 {
    font-size: 1,5rem;
    margin-top: 4px;
    margin-bottom: 8px;
}

.post p {
    font-size: 1rem;
    margin-bottom: 3px;
}

:root {
    --primary: #1652A7;
    --primary-dark: #103C75;
    --secondary: #F7F7F7;
    --secondary-dark: #E1E6EF;
    --text-dark: #1652A7;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 110px;
    min-height: 70vh;
}

.hero-text {
    max-width: 710px;
    font-family: "Raleway", sans-serif;
}

.hero-text h2 {
    font-size: 4.4rem;
    line-height: 1.06;
    margin-bottom: 35px;
    letter-spacing: -0.8px;
    font-weight: 900;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 45px;
    line-height: 1.5;
    color: #545454;
}

.hero-buttons {
    display: flex;
    gap: 17px;
    margin-bottom: 30px;
}

.btn {
    padding: 20px 40px;
    font-size: 1.25rem;
    border-radius: 40px;
    font-weight: 600;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25 ease;
}

.btn.primary {
    background: var(--primary);
    color: #F7F7F7;
}
.btn.primary:hover { 
    background: var(--primary-dark);
    transform: translateY(-2px);
}

.btn.secondary {
    background: var(--secondary);
    color: var(--text-dark);
    border: 1.9px solid #1652A7;
}
.btn.secondary:hover {
    background: var(--secondary-dark);
    transform: translateY(-2px);
}

.hero-image img {
    width: 600px;
    border-radius: 12px;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 3rem;
    font-size: 0.9rem;
    color: #545454;
}