/* GENERAL */

:root {
    --primary: #1652A7;
    --primary-dark: #103C75;
    --secondary: #F7F7F7;
    --secondary-dark: #E1E6EF;
    --text-dark: #1652A7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    font-family: "Raleway", sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #113A74;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    margin: 30px 50px;
    color: white;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

/* NAV */

header {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

header nav ul li a {
    text-decoration: none;
    color: #F7F7F7;
}

nav {
    margin-right: 50px;
}

/* POST */

#posts {
    max-width: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post {
    background-color: #F7F7F7;;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #556A86;
    width: 50rem;
    margin: 0 auto;
}

.post h2 {
    font-size: 1.8rem;
    margin-top: 8px;
    margin-bottom: 15px;
}

.post small {
    font-size: 0.85rem;
    color: #777;
}

.post p {
    font-size: 1rem;
    margin-bottom: 6px;
}

/* HERO */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 110px;
    min-height: 70vh;
}

.hero-text {
    max-width: 710px;
    font-family: "Raleway", sans-serif;
}

.hero-text h2 {
    font-size: 4.4rem;
    line-height: 1.06;
    margin-bottom: 35px;
    letter-spacing: -0.8px;
    font-weight: 900;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 45px;
    line-height: 1.5;
    color: #545454;
}

.hero-buttons {
    display: flex;
    gap: 17px;
    margin-bottom: 30px;
}

.btn {
    padding: 20px 40px;
    font-size: 1.25rem;
    border-radius: 40px;
    font-weight: 600;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25 ease;
}

.btn.primary {
    background: var(--primary);
    color: #F7F7F7;
}
.btn.primary:hover { 
    background: var(--primary-dark);
    transform: translateY(-2px);
}

.btn.secondary {
    background: var(--secondary);
    color: var(--text-dark);
    border: 1.9px solid #1652A7;
}
.btn.secondary:hover {
    background: var(--secondary-dark);
    transform: translateY(-2px);
}

.hero-image img {
    width: 600px;
    border-radius: 12px;
    object-fit: cover;
}

/* LOG IN & REGISTER */

h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.login-container, .reg-container {
    font-family: "Raleway", sans-serif;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px #556A86;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.reg-container input[type="text"],
.reg-container input[type="password"] {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s;
    margin-bottom: 20px;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus,
.reg-container input[type="text"]:focus,
.reg-container input[type="password"]:focus {
    border-color: #007BFF;
}

#loginForm, #registerForm {
    display: flex;
    flex-direction: column;
}

.login-container label, .reg-container label {
    margin-bottom: 4px;
    font-weight: bold;
}

.login-container button, .reg-container button {
    padding: 12px;
    font-size: 1.1rem;
    background: var(--primary);
    color: #F7F7F7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 5px;
    margin-top: 23px;
}

.login-container button:hover, .reg-container button:hover {
    background: var(--primary-dark);
    transform: translateY(-2px);
}

/* FOOTER */

footer {
    text-align: center;
    padding: 3rem;
    font-size: 0.9rem;
    color: #545454;
}
